@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

a {
  color: #FE5F55;
}

a:hover {
  color: #FE5448;
}

.head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  margin-bottom: 1vw;
  color: #FFFFFF;
}

h2 {
  font-family: 'Montserrat';
}

fieldset {
  border: 0;
  font-size: 1.4vw;
  padding: 0.5em;
  font-family: 'Montserrat';
}

.link {
  font-family: 'Montserrat';
  font-size: 1.5vw;
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.urlInput {
  font-size: inherit;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 15px 0px 0px 15px;
  width: 39vw;
  font-family: inherit;
  border-width:0px;
  border:none;
  padding-left: 0.8vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
}

.shortenBtn {
  font-size: inherit;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0px 15px 15px 0px;
  font-family: 'Montserrat';
  border-width:0px;
  border:none;
  cursor: pointer;
  background-color: #FE5F55;
  color: #FFFFFF;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
}

.short {
  font-size: inherit;
  padding: 0.2em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 15px 15px 15px 15px;
  width: 40vw;
  font-family: inherit;
  border-width:0px;
  border:none;
  background-color: #22262F;
  height: 3.5vw;
  position: relative;
}

.copy {
  background: url("./copy.svg");
  position: absolute;
  top: 50%;
  right: -0.5%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
  height: 2.5vw;
  border-width:0px;
  border: none;
  cursor: pointer;
}

input:focus {
  outline-width: 0;
}

input:focus::placeholder {
  color: transparent;
}

button:focus {
  outline-width: 0;
}